*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
*/target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/project/
temp/

# Scala-IDE specific
.scala_dependencies
.worksheet
out/

# ignore hive metastore db files
metastore_db/

# remove DS_Store
.DS_Store
